@media (max-width: 1200px) {
  .hero__title {
    font-size: 60px;
  }

}

@media (max-width: 992px) {

  .application__item {
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  .hero__mobile img {
    display: none;
  }
  .projects-phone__smart img {
    display: none;
  }
}

@media (max-width: 768px) {
  .application{
    display: none;
  }
  h2{
    font-size: 40px;
  }
  .hero__title {
    font-size: 40px;
  }
  .feature__title {
    font-size: 40px;
  }
  .menu__btn {
    display: flex;
    z-index: 5;
    position: fixed;
    right: 15px;
  }
  .nav {
    display: none;
  }

  .nav.active {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    background: #8C30F5;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    transition: .6s;
  }
  .nav.active {
    right: 0;
  }
  .menu__btn.active span:before {
    transform: rotate(45deg);
    top: 0;
  }
  .menu__btn.active span:after {
    transform: rotate(-45deg);
    top: 0;
  }
  .menu__btn.active span {
    background: transparent;
  }
  .nav__item {
    font-size: 25px;
    margin-top: 10px;
    border: solid 2px black;
    padding: 10px;
  }
  .projects-application {
    width: 200px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 800;
  }
    p{
    font-size: 15px;
  }
  .hero__title {
    font-size: 30px;
  }
  .btn {
    background: #8C30F5;
    border-radius: 8px;
    padding: 5px 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    transition: 0.5s;
  }
  .feature__title {
    font-size: 30px;
  }
  .feature__grid {
    display: grid;
    grid-template-columns: 1fr;

  }
  .testimonials__grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .headline a {
    font-weight: bold;
    font-size: 16px;
  }
  .grid__col_6 {
    grid-template-columns: 1fr;
  }
  .fashion-world__title {
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
  }
  .projects-phone__steve img {
    display: none;
  }
  .application__item {
    width: 100px;
  }
  .footer-application__info {
    display: none;
  }

}



